<link rel="stylesheet" href="/css/reset-password.css">
<div class="reset-password">
  <div class="login-signup-header"><h1>Change Password</h1></div>
  <div class="reset-password-form">
    <form action="/auth/reset?accessToken=<%=accessToken%>" method="POST" class="login-form">  
      <div class="field">
        <input class="input" type="password" name="password" placeholder="New Password" required />
      </div>
      <div class="field">
        <input class="input" type="password" name="confirm_password" placeholder="Confirm Password" required />
      </div>
      <div class="field">
        <button class="submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
  
</div>

