
<h1>codeial / <%=title%></h1>

<form action="/user/create-session" method="POST">
    <input type="email" name="email" required placeholder="Enter the email">
    <input type="password" name="password" required placeholder="Enter the password">
    <input type="submit" value="sign in">
</form>
<div style="align-self: flex-end;margin-top: 1rem;"><a href="/auth/">Forgot Password ?</a></div>
<p>
    <a href="/user/auth/google">Google Sign In/Sign up</a>
</p>