
<h1>codeial / <%=title%></h1>

<form action="/user/create-session" method="POST">
    <input type="email" name="email" required placeholder="Enter the email">
    <input type="password" name="password" required placeholder="Enter the password">
    <input type="submit" value="sign in">
</form>

<p>
    <a href="/user/auth/google">Google Sign In/Sign up</a>
</p>