body{
    background-color: rgb(137, 137, 139);
    margin: 0;
    
}
.home{
    text-decoration: none;
    background-color: aliceblue;
    display: inline-block;
    height: 30px;
    width: 50px;
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    top: 100px;
}

header{
    background-color: rgb(28, 25, 25);
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color:  rgb(134, 135, 140);
}

header h1{
    margin: 0;
}
header div li a{
    text-decoration: none;
    color:rgb(137, 137, 139);
}

header div li{
    display: inline-block;
    margin-left: 20px;
}

header div{
    margin-left: auto;
}

/* main */
#layout-body{
    
    
}

a{
    text-decoration: none;
}