.layout-body{
    position: absolute;
}
.sign-in-div{
    position: relative;
    left: 50%;
    transform: translate(-20%);
}
.sign-in-heading{
     /* position: relative; */
      transform: translate(5%);
    left: 50%;
}
.sign-in-box{
    background-color: rgb(80, 80, 84);
    width: 40vw;
    border-radius: 40px;
    height: auto;
    padding: 10px;
}

.input{
    width: 30vw;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    height: 50px;
    margin-top: 20px;
    border-radius: 40px;
    
}
.submit{
    width: 25vw;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    margin-top: 20px;
    border-radius: 40px;
    height: 40px;
}
.Forgot-password{
    text-align: center;
    
}
.a1{
    color: aliceblue;
}
h2{
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
.google{
    border-radius: 20px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    height: 30px;
    text-align: center;
    /* background-color: aqua; */
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: aliceblue;
    width: 200px;
}

.a2{
    
}